
/* Google Font Families Used */
  /* 'Bowlby One', cursive; */
  /* 'Roboto Condensed', sans-serif; */
  /* 'Sofia', cursive; */

/* Colour Scheme */
  /* A - #0088B5 */
  /* B - #005875 */
  /* C - #00B8F5 - Base Colour */
  /* D - #00A4DB */
  /* E - #002836 */
html {
  font-size: 16px;
}
header {
  margin: 0;
}
body {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  background-color: #00B8F5;
  color: #000000;
}
main {
  width: 75%;
}
aside {
  width: 25%;
}
footer {
  margin: 0;
  background-color: #002836;
  color: white;
  border-top: solid 0.25em lightgrey;
}
@media (max-width: 675px) {
  aside {
    width: 100%;
  }
  main {
    width: 100%;
  }
}
h1, h2, h3, p {
  margin-top: 0;
}
h1 {
  text-align: center;
  font-family: 'Bowlby One', cursive;
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.75rem;
  margin-bottom: 0.125em;
}
p {
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  color: white;
  font-size: 1em
}
a:hover,
a:focus {
  color: green;
}
th,
td,
table {
  border: 0.1em solid white;
  border-collapse: collapse;
}
hr {
  border-top: groove 1.5em lightgrey;
}

/* ==========General Coloms========== */
.coloms {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 675px) {
  .coloms {
    flex-direction: column;
  }

}

/* =========Buttons=========== */

.button {
  background-color: black;
  text-decoration: none;          /* take off the underline on the link */
  padding: 1em 2em;               /* more on left and right to make buttons look good */
  display: inline-block;          /* make the button not go over other stuff */
}
.button:hover,
.button:focus {
  color: green;
  background-color: lightgrey;
}
.personality-btn {
  background-color: #002836;
  color: white;
  margin: 1em;
}
.personality-btn:hover,
.personality-btn:focus {
  background-color: lightblue;
  color: black;
}

/* Navigation */
/* Hamburger Menu */
.toggler {
  z-index: 2;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}
.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger > div {
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  height: 2px;
  width: 60%;
  transition: all 0.4s ease;
}
.hamburger > div::before,
.hamburger > div::after {
  content: '';
  position: absolute;
  top: -10px;
  background-color: white;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
}
.hamburger > div::after {
  top: 10px;
}
.toggler:checked + .hamburger > div {
  background: rgba(0,0,0,0);
}
.toggler:checked + .hamburger > div::before {
  top: 0;
  transform: rotate(45deg);
  background-color: black;
}
.toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(135deg);
  background-color: black;
}
.menu {
  position: fixed;
  width: 0%;
  height: 100vh;
  transition: all 1s ease;
  float: left;
}
.toggler:checked ~ .menu {
  width: 30%;
  height: 100%;
}
.menu > div > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #002836;
  border-radius: 5px;
  position: fixed;
  top: 35px;
  padding-left: 10px;
  opacity: 0.8;
  visibility: hidden;
}
.menu > div > ul > li {
  list-style: none;
  padding: 1em;
}
.menu > div > ul > li:hover,
.menu > div > ul > li:focus {
  background-image: linear-gradient(lightblue, darkblue);
}
.menu .logo img {
  width: 30%;
}
.menu .logo:hover {
  background: none;
}
.menu > div > ul > li > a {
  color: lightblue;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5em;
}
.toggler:checked ~ .menu > div > ul {
  transition: visible 1s ease;
  transition-delay: 0.5s;
  visibility: visible;
}
.toggler:checked ~ .menu > div > ul > li > a:hover,
.toggler:checked ~ .menu > div > ul > li > a:focus {
  color: white;
}

/* Simple Navigation */
.nav-col-1 {
  width: 11%;
  text-align: center;
  justify-content: space-evenly;
}
@media (max-width: 675px) {
  .nav-col-1 {
    width: 100%;
  }
}
.current-page {
  border-left: 5px solid lightblue;
  border-right: 5px solid lightblue;
}
@media (max-width: 675px) {
  .current-page {
    border-bottom: none;
    background-color: #282828;
  }
}

/* ==============Layout============ */
.page-header {
  width: 100%;
}
.container {
  width: 90%;
  margin: 0.33em auto;
  text-align: center;
  padding: 0.12em 0;
}
.container-flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 675px) {
  .container-flex {
    flex-direction: column;
  }
}
.progress h2,
.scope-and-limits h2,
.testing h2,
.risks h2 {
  text-decoration: underline;
}
/* homepage */
.profile-photo {
  width: 25%;
  border-radius: 5%;
}
.profile {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1300px;
}
.andy-profile,
.chris-profile {
  background-color: #005875;
}
.jen-profile {
  background-color: #0088B5;
}
.group-process {
  background-color: #00A4DB
}
.career-plans {
  background-color: #0088B5;
}
.test-results {
  background-color: #00A4DB;
}
.group-process,
.career-plans,
.test-results {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0em 1em 1em;
  border: 9em solid black #1F3F51;
  border-style: outset;
}
@media (max-width 675px) {
  .sidebar {
    margin-top: 1em;
  }
}

/* ----team profile---- */
.profile-page {
  display: flex;
  flex-direction: column;

    /* Profiles */
}
.profiles {
  display: flex;
  width: 100%;
}
.personality {
 width: 33%;
 margin-bottom: 1em;
 padding: 2em 1em;
 text-align: center;
}
.per-chris {
  background-color: #0088B5;
}
.per-andy {
  background-color: #0088B5;
}
.per-jen {
  background-color: #005875;
}
.summary th,
.summary td,
.summary table {
  color: white;
}
.summary table {
  width: 100%;
}

.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personality-summary {
  padding: 1em;
  background-color: #002836;
  color: grey;
  border-bottom: 0.025em solid white;
  border-top: 0.025em solid white;
}


    /* Ideal Jobs */
.ideal-jobs {
  padding: 1em;
  background-color: #002836;
  color: grey;
  border-top: 0.025em solid white;
  border-bottom: 0.025em solid white;
}
.ideal-jobs-table {
  width: 100%;
  padding-left: 25%;
}
.ideal-jobs-table table {
  width: 10%;
}
.ideal-jobs-header {

}
.high-demand {
  background-color: red;
  color: black;
}
.moderate-demand {
  background-color: orange;
  color: black;
}
    /* Career Plans */
.career-plans {
  background-color: #00A4DB
}
.career-plans-header {

}
.career-plans-jen,
.career-plans-chris,
.career-plans-andy {
 margin-left: 1em;
 margin-right: 1em;
}
.career-comparison-header {

}
.career-comparison {
 border-bottom: 0.0125em solid white;
 margin-bottom: 1em;
}
.career-para {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
.career-comparison-table {

}
.career-comparison-table table {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.career-comparison-table td {
  width: 1%;
  color: white;
}
.career-comparison-table th {
  background-color: #002836;
  color: white;
}
.job-header {
  background-color: #002836;
}
.yes {
  background-color: lime;
}
.no {
  background-color: #005875;
}
    /* Group Process */
.group-process {
  margin-left: 0;
  margin-right: 0;
  border-top: solid 0.0125em white;
  border-bottom: solid 0.0125em white;
  border-left: none;
  border-right: none;
  width: 100%;
}
.group-process-header {

}
.group-process-para {
  padding: 0 2em 0 2em;
}

/* ----Overview---- */
.overview-para {
  border-left: solid 2em #002836;
  font-size: 2rem;
}
.statement {
  margin-bottom: 1em;
  border-top: solid 0.005em #ffff;
  border-bottom: solid 0.005em #ffff;
  font-size: 3em;
}
.motivation {
  padding: 1em;
  margin-bottom: 2em;
  background-color: #00A4DB;
  font-size: 1.5rem;
}
.quote {
  margin-left: 15em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  border-top: solid 0.05em #002836;
  border-bottom: solid 0.05em #002836;
  text-align: left;
  background-color:
}
.landscape {
  border: solid 1em lightgrey;
  border-style: groove;
  padding: 1em;
}
.landscape-para {
  font-size: 1.5em;
  text-align: left;
}
.landscape-table {
  margin-bottom: 2em;
}
.landscape-table table {
  width: 100%;
}
.landscape-table td,
.landscape-table th {
  width: 25%;
  height: 2em;
}
.landscape-table td {
  background-color: #00A4DB;
}
.landscape-table th {
  color: white;
  background-color: #002836;
}
  /* Detailed Description */
.detailed-description {

}
.detailed-description-header {
  margin-left: 1em;
  text-align: center;
  text-decoration: underline;
}
.aim-description {
  font-size: 1.5rem;
}
.aim-explaination {
  margin-left: 1em;
  margin-bottom: 2em;
  text-align: left;
  font-size: 1.5rem;
}
.goals-list {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  text-align: left;
  border-left: solid 1em #002836;
  border-right: solid 1em #002836
}
.goals {
  list-style: none;
}
.goals li {
  font-size: 1.5rem;
}

/* Project Description */
  /* Roles */
.roles h2 {
  text-decoration: underline;
}
.roles {
  text-align: center;
}
.roles-background {
  background-color: #002836;
  border: outset 1em lightgrey;
}
.andy-role,
.jen-role,
.chris-role {
  width: 16.66%;
  margin: 0.125em 0.25em;
  padding: 0.125em;
  background-color: #00A4DB;
  border: solid 0.25em white;
}
  /* Progress and Planning */

.progress {
 margin-top: 3em;
}
.left-page,
.right-page {
  width: 50%;
  min-height: 750px;
  margin-top: 1em;
  padding: 1em;
  border: solid 0.001em lightgrey;
  text-align: left;
}
.left-page {
  border-right: solid 0.001em white;
}
.right-page {
  border-left: solid 0.001em white;
}
.entry {
  border-bottom: dotted 0.01em #002836;
}
  /* Scope and limits */
.scope-and-limits,
.testing {
  width: 45%;
  margin-top: 3em;
  background-image: linear-gradient(#0088B5, #005875, #00B8F5);
  border-top: solid 0.25em lightblue;
  border-left: solid 0.125em lightblue;
  border-right: solid 0.125em lightblue;
  border-bottom: dotted 0.125em lightblue;
}
.scope-and-limits-para {

}
  /* Risks */
.risks {
 border: groove 1em lightgrey;
 margin-bottom: 1em
}
.risks-table table,
.risks-table th,
.risks-table td {

}
.risks-table th,
.risks-table td {
  width: 25%;
}
.risks-table {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1em;
}
.risk-matrix table {
  width: 100%;
}
.risk-matrix {
  justify-content: space-around;
  margin: 1em;
  padding-top: 1em;
  border-top: dashed 0.125em #005875;
}
.matrix {
  width: 100%;
  margin-top: 1em;
}
.table-header {
  background-color: #002836;
  color: white;
}
.table-subheader {
  background-color: #00A4DB;
}
.risk-low {
  background-color: #80FF00;
}
.risk-med {
  background-color: #FFFF00;
}
.risk-high {
  background-color: #FF8000;
}
.risk-extreme {
  background-color: #FF0000;
}
.likelihood th,
.consequence th {
  background-color: #002836;
  color: white;
}
.consequence {
  width: 45%;
}
.likelihood {
  width: 45%;
}
  /* Testing */
.testing-para {

}
  /* Timeline */
.timeline h2 {
  text-decoration: underline;
}
.timeline {
  margin-top: 3em;
}
.timeline-table {
  width: auto;
  height: auto;
  border: groove 1em lightblue;
}
.timeline-table-head {
  background-color: #002836;
  color: white;
}
.timeline-table-subhead {
  background-color: #00A4DB;
}

/* Tools and Technoligies */
.tools-para {
  width: 70%;
  margin-left: 5%;
  margin-right: 15%;
  padding: 0.5em;
  border-left: solid 3em #0088B5;
  font-size: 1.5rem;
  text-align: left;

}
.tools-table-header {
  border-top: dashed 0.125em lightblue;
}
.tools-table td,
.tools-table th {
  width: 33%;
}
.tools-table th {
  background: #002836;
  font-weight: bold;
  color: white;
}
.tool-table table {

}
.tools-table {

}

/* Skills and Jobs */
.job h3,
.job li {
  text-align: left;
}
.job h3 {
  text-decoration: underline;
}
.job {
  width: 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em;
  border: solid lightgrey 0.125em;
}

/* Group Reflection */
.group-reflection,
.reflection-individual {
  font-size: 1.5em;
}
.group-reflection {
 width: auto;
 margin-left: 0;
 margin-right: 0;
 padding-left: 15%;
 padding-right: 15%;
 background-color: #00A4DB;
}
.reflection-individual {
  width: 32%;
  border: outset 0.25em #002836;
}

/* Feedback and References */
.references {
 border-top: groove 0.125em lightgrey;
}
.ref {
  text-align: left;
  font-size: 1.25em;
  padding-bottom: 1em;
}

/* ======== Footer ======= */
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer a {
  margin: 0;
  color: lightblue;
}
.footer h2 {
  margin: 0;
}
.footer p {
  margin: 0;
}
.footer {
  text-align: left;
}
.footer-c1 {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  text-align: center;

  /* border: solid 0.1em black; */
}
.footer-c2 img {
  width: 50%;
  padding: 0;

  /* border: solid 0.1em black; */
}
.footer-c2 {
  width: 20%;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1em;

  /* border: solid 0.1em black; */
}
