
/* Google Font Families Used */
  /* 'Bowlby One', cursive; */
  /* 'Roboto Condensed', sans-serif; */
  /* 'Sofia', cursive; */

/* Colour Scheme */
  /* A - #0088B5 */
  /* B - #005875 */
  /* C - #00B8F5 - Base Colour */
  /* D - #00A4DB */
  /* E - #002836 */
html {
  font-size: 16px;
}
header {
  margin: 0;
}
body {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  background-color: #00B8F5;
  color: #000000;
}
main {
  width: 75%;
}
aside {
  width: 25%;
}
@media (max-width: 675px) {
  aside {
    width: 100%;
  }
  main {
    width: 100%;
  }
}
h1, h2, h3, p {
  margin-top: 0;
}
h1 {
  text-align: center;
  font-family: 'Bowlby One', cursive;
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
h3 {
  font-size: 1.75rem;
  margin-bottom: 0.125em;
}
p {
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  color: white;
  font-size: 1em
}
a:hover,
a:focus {
  color: green;
}
th,
td,
table {
  border: 0.1em solid white;
  border-collapse: collapse;
}


/* ==========General Coloms========== */
.coloms {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 675px) {
  .coloms {
    flex-direction: column;
  }

}

/* =========Buttons=========== */

.button {
  background-color: black;
  text-decoration: none;          /* take off the underline on the link */
  padding: 1em 2em;               /* more on left and right to make buttons look good */
  display: inline-block;          /* make the button not go over other stuff */
}
.button:hover,
.button:focus {
  color: green;
  background-color: lightgrey;
}
.personality-btn {
  background-color: #002836;
  color: white;
  margin: 1em;
}
.personality-btn:hover,
.personality-btn:focus {
  background-color: lightblue;
  color: black;
}

/* Navigation */

.nav-col-1 {
  width: 11%;
  text-align: center;
  justify-content: space-evenly;
}
@media (max-width: 675px) {
  .nav-col-1 {
    width: 100%;
  }
}
.current-page {
  border-bottom: 5px solid lightblue;
}
@media (max-width: 675px) {
  .current-page {
    border-bottom: none;
    background-color: #282828;
  }
}

/* ==============Layout============ */
.page-header {
  width: 100%;
}
.container {
  width: 90%;
  margin: 0.33em auto;
  text-align: center;
  padding: 0.12em 0;
}
.container-flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 675px) {
  .container-flex {
    flex-direction: column;
  }
}

/* homepage */
.profile-photo {
  width: 25%;
  border-radius: 5%;
}
.profile {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 1300px;
}
.andy-profile,
.chris-profile {
  background-color: #005875;
}
.jen-profile {
  background-color: #0088B5;
}
.group-process {
  background-color: #00A4DB
}
.career-plans {
  background-color: #0088B5;
}
.test-results {
  background-color: #00A4DB;
}
.group-process,
.career-plans,
.test-results {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0em 1em 1em;
  border: 9em solid black #1F3F51;
  border-style: outset;
}
@media (max-width 675px) {
  .sidebar {
    margin-top: 1em;
  }
}

/* ----team profile---- */
.profile-page {
  display: flex;
  flex-direction: column;

    /* Profiles */
}
.profiles {
  display: flex;
  width: 100%;
}
.personality {
 width: 33%;
 margin-bottom: 1em;
 padding: 2em 1em;
 text-align: center;
}
.per-chris {
  background-color: #0088B5;
}
.per-andy {
  background-color: #0088B5;
}
.per-jen {
  background-color: #005875;
}
.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.personality-summary {
  padding: 1em;
  background-color: #002836;
  color: grey;
  border-bottom: 0.025em solid white;
  border-top: 0.025em solid white;
}
.test-comparisons {
 padding: 1em;
 background-color: #00A4DB;
}

    /* Ideal Jobs */
.ideal-jobs {
  padding: 1em;
  background-color: #002836;
  color: grey;
  border-top: 0.025em solid white;
  border-bottom: 0.025em solid white;
}
.ideal-jobs-table {
  padding-left: 25%;
}
.ideal-jobs-table table {
  width: 60%;
}
.ideal-jobs-header {

}
.high-demand {
  background-color: red;
  color: black;
}
.moderate-demand {
  background-color: orange;
  color: black;
}
    /* Career Plans */
.career-plans {
  background-color: #00A4DB
}
.career-plans-header {

}
.career-plans-jen,
.career-plans-chris,
.career-plans-andy {
 margin-left: 1em;
 margin-right: 1em;
}
.career-comparison-header {

}
.career-comparison {
 border-bottom: 0.0125em solid white;
 margin-bottom: 1em;
}
.career-para {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}
.career-comparison-table {

}
.career-comparison-table table {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.career-comparison-table td {
  width: 1%;
  color: white;
}
.career-comparison-table th {
  background-color: #002836;
  color: white;
}
.job-header {
  background-color: #002836;
}
.yes {
  background-color: lime;
}
.no {
  background-color: #005875;
}

/* ----Overview---- */
.overview-para {
  border-left: solid 2em #002836;
  font-size: 2rem;
}
.statement {
  margin-bottom: 1em;
  border-top: solid 0.005em #ffff;
  border-bottom: solid 0.005em #ffff;
  font-size: 3em;
}
.motivation {
  padding: 1em;
  margin-bottom: 2em;
  background-color: #00A4DB;
  font-size: 1.5rem;
}
.quote {
  margin-left: 15em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  border-top: solid 0.05em #002836;
  border-bottom: solid 0.05em #002836;
  text-align: left;
  background-color:
}
.landscape {
  border: solid 1em lightgrey;
  border-style: groove;
  padding: 1em;
}
.landscape-para {
  font-size: 1.5em;
  text-align: left;
}
.landscape-table {

}
.landscape-table table {
  width: 100%;
}
.landscape-table td,
.landscape-table th {
  width: 25%;
  height: 2em;
}
.landscape-table td {
  background-color: #00A4DB;
}
.landscape-table th {
  color: white;
  background-color: #002836;
}
  /* Detailed Description */
.detailed-description {

}
.detailed-description-header {
  margin-left: 1em;
  text-align: center;
  text-decoration: underline;
}
.aim-description {
  font-size: 1.5rem;
}
.aim-explaination {
  margin-left: 1em;
  margin-bottom: 2em;
  text-align: left;
  font-size: 1.5rem;
}
.goals-list {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  text-align: left;
  border-left: solid 1em #002836;
  border-right: solid 1em #002836
}
.goals {
  list-style: none;
}
.goals li {
  font-size: 1.5rem;
}
